<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/admin/layout/layout.html}">
<head>
    <title>Home Page Admin</title>
    <th:block layout:fragment="css">
        <!-- <link rel="stylesheet" th:href="@{}" /> -->
    </th:block>
</head>

<body>
    <div layout:fragment="content" class="">
        <h2 class="text-white w-100 vh-100 text-center text-uppercase fw-bold" style="margin-top: 300px;">Chào Mừng Đến Với Trang Chủ Admin</h2>
    </div>
</body>

</html>