<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/sites/layout/layout.html}">
<!-- Sử dụng lại bố cục của trang layout và chỉ ghi đè phần content -->

<head>
    <title>Login Page</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/form.css}" />
    </th:block>
</head>

<body>
    <header layout:fragment="header" class="fixed-top">
    </header>
    <div layout:fragment="content" class="min-vh-100" id="container">
        <nav class="navbar navbar-expand-lg py-2">
            <div class="container-fluid py-1 mt-2">
                <a class="logo navbar-brand fw-bold fs-3" th:href="@{/shopaa/sites/home}">SHOPAA</a>
            </div>
        </nav>
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row h-100 w-100 pt-2">
                <div class="col-xl-7 d-none d-xl-flex justify-content-center align-items-center">
                    <img class="object-fit-cover w-75" src="/images/login_img-removebg.png" alt="login">
                </div>
                <div class="col-12 col-md-10 col-lg-7 col-xl-5 d-flex justify-content-center align-items-center m-auto">
                    <div class="form p-5 rounded-3">
                        <h2 class="mb-4 p-2 text-center fs-2 fw-bold ">ĐĂNG NHẬP</h2>
                        <form th:action="@{/shopaa/sites/login}" th:object="${loginDto}" method="post">
                            <div class="position-relative input__item" style="margin-bottom:20px ;">
                                <label for="username" class="form-label fs-3 position-absolute"><i
                                        class="bi bi-person-fill"></i></label>
                                <input type="text" class="w-100 rounded-5" id="username" th:field="*{username}"
                                    placeholder="Tên đăng nhập" required>
                                <small id="messageUsername" class="form-text text-danger ms-3"
                                    th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
                            </div>
                            <div class="position-relative input__item" style="margin-bottom:20px ;">
                                <label for="password" class="form-label fs-4 position-absolute"><i
                                        class="fa-solid fa-lock"></i></label>
                                <input type="password" class="w-100 rounded-5" id="password" th:field="*{password}"
                                    placeholder="Mật khẩu" required>
                                <small id="messagePassword" class="form-text text-danger ms-3"
                                    th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                            </div>
                            <div class="mb-3 d-flex justify-content-between">
                                <div class="form-check ms-2">
                                    <input type="checkbox" class="form-check-input border-0 rounded-0 p-2"
                                        id="remember-me" name="remember-me" th:field="*{rememberMe}">
                                    <label class="form-check-label text-secondary" for="remember-me">Nhớ tài
                                        khoản</label>
                                </div>
                                <div class="forgot">
                                    <a class="text-secondary" th:href="@{/shopaa/sites/forgot}">Quên mật khẩu?</a>
                                </div>
                            </div>
                            <div class="mb-3 text-center">
                                <button type="submit" class="btn fw-bold rounded-5 fs-5 w-100"
                                    style="padding: 12px 0; background-color: var(--primary-color); color: #fff;">Đăng
                                    nhập</button>
                            </div>
                        </form>
                        <div class="">
                            <div class="w-100 position-relative p-2">
                                <div class="position-absolute z-1 text-secondary text-center"
                                    style="right: 25%; top:12px; left: 25%;  background-color: #fff;">Hoặc đăng nhập với
                                </div>
                                <hr>
                            </div>
                        </div>

                        <div class="box__icon mb-4 d-flex justify-content-center">
                            <a href="#" class="btn fw-bold border-0 fs-6 me-3">
                                <img src="/images/facebook.png" class="" alt="" width="30px"></a>
                            <a href="#" class="btn fw-bold border-0 fs-6 me-3">
                                <img src="/images/google.png" class="" alt="" width="30px"></a>
                            <a href="#" class="btn fw-bold border-0 fs-6">
                                <img src="/images/twitter.png" class="" alt="" width="30px"></a>
                        </div>

                        <div class=" text-center text-secondary">
                            Bạn chưa có tài khoản? <a class="fw-bold text-secondary ms-1"
                                th:href="@{/shopaa/sites/register}">Đăng
                                ký</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>